@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Montserrat:ital,wght@1,500&family=Oswald&family=Quicksand:wght@300&display=swap');

/* font-family: 'Quicksand', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */

:root {
--background: #2a3336;
--primary-color:#fccb47; 
--tag-color:#6A4FD2;
--text-dark: #2a3336;
--text-light: white;
}

body{
   background-color: var(--background);
   
    margin: 1px;
    font-family: 'Quicksand', sans-serif;
}
hr{
    margin: 2 auto;
    max-width: 600px;
    color: var(--primary-color);
}
.container{
    padding:0.5rem;
}
.container-center{
   max-width: 600px;
   margin: auto;
}

.link{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.4rem 0.7rem;
    color: var(--primary-color);
    margin: auto 5px;
}

.link-primary{
    background-color:var(--primary-color);
    color: var(--text-dark);
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
}
.link-primary:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--primary-color);
}
.link-secondary{
    border:2px solid var(--primary-color);
    border-radius: 0.5rem;
}
.link-secondary:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--primary-color);
}
.list-non-bullet{
    list-style: none;
    margin: 1rem auto;
    color: var(--primary-color);
}

.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
    color: var(--text-light);
}

.list-reversed{
    text-align: center;
    
}
.text-para{
    color: var(--text-light);
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}
.navigation{
    color: var(--text-light);
    margin: auto;
    max-height: 200px;
}

.navigation .nav-brand{
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
}
.nav-brand span{
    color: var(--text-light);
    font-size: 3rem;
}

.navigation .nav-pills{
    position: absolute;
    text-align: right;
    right: 10px;
    top: 10px;
}
.navigation .link{
    color: var(--text-dark);
}
.navigation .link-active{
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.hero{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10%;
}

.hero-img{
    max-width: 450px;
    padding: 10px;
    justify-self: center;
}
.hero-text{
    margin: auto;
    margin-left: 30px;
    justify-self: left;
    font-size: 2rem;
    padding: 10px;
    border-left: 1px solid var(--primary-color);
}
.hero-img-section{
    max-width: 200px;
    margin: auto;
    padding: 1.5rem;
}
.hero-img-centered{
    text-align: center;
}
.hero-heading{
    color:var(--text-light);
    padding-top: 0.5rem;
    font-family: 'Josefin Sans', sans-serif;
}
.hero-heading .heading-highlight{
    color: var(--text-light);
    
}

.section{
    color: var(--primary-color);
    max-width: 600px;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
    padding: 2rem 1rem;
}
.section-transparent{
    color: var(--primary-color);
    max-width: 600px;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
    padding: 2rem 1rem;
}
.sub-heading-one{
    color: var(--primary-color);
    border-radius: 0.5rem;
    width: 90%;
    padding: 0.5rem 0.5rem;
    font-family: 'Quicksand', sans-serif;
}
.sub-heading-two{
    color: var(--text-dark);
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    width: 90%;
    padding: 0.5rem 0.5rem;
    font-family: 'Oswald', sans-serif;
}
.tag{
    background-color: var(--tag-color);
    padding: 0.2rem 0.3rem;
    border-radius: 10px;
}

.blog-list{
    text-align: center;
}

.footer{
    text-align:center;
    max-height: 10px;
}

.footer ul{
    position: relative;
    bottom: 15vh;
    padding-inline-start: 0px;  
}
.footer a{
    text-decoration: none;
}
.footer-header {
    position: relative;
    bottom: 15vh;
    font-weight: bold;
    font-size: larger;
    color: var(--background);
}
